@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "VT323";
    src: url("/assets/fonts/VT323-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: "Inter";
    src: url("/assets/fonts/Inter-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
}

::selection {
  color: #ffffff;
  background-color: #0000ff;
}

a.accessible {
  color: #2929ff;
  text-decoration: underline;
}
a.accessible:hover {
  text-decoration: none;
  border-bottom: 2px #2929ff solid;
  font-weight: bold;
}

/* width */
dialog ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
dialog ::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
dialog ::-webkit-scrollbar-thumb {
  background: #00000022;
}

/* Handle on hover */
dialog ::-webkit-scrollbar-thumb:hover {
  background: #555;
}
