---
import "../styles/main.css";
import Layout from "../layouts/Layout.astro";
import About from "../sections/About.astro";
import Contact from "../sections/Contact.astro";
import Nav from "../sections/Nav.astro";
import Portfolio from "../sections/Portfolio.astro";
import Skills from "../sections/Skills.astro";
import Hero from "../sections/Hero.astro";
---

<Layout title="Jesse Pernilä">
  <main class="flex flex-col items-center w-full">
    <Nav />
    <section
      id="HOME"
      class="flex w-11/12 border-gray-400  min-h-halfScreen max-w-9xl"
    >
      <Hero />
    </section>

    <section
      id="WORKS"
      class="flex flex-col w-11/12 border-gray-400  border-t-0 py-8"
    >
      <Portfolio />
    </section>
    <About />
    <Skills />
    <Contact />
  </main>
</Layout>

<!-- <script>
  const windowWidth = window.innerWidth;

  if (windowWidth < 640) {
    // set renderNav to true
    document.querySelectorAll(".navElement").forEach((element) => {
      element.classList.add("hidden");
      element.classList.remove("visible");
    });
  }

  // add event listener to window resize
  window.addEventListener("resize", () => {
    // get window width on resize
    // if window width is less than 640px
    if (windowWidth < 640) {
      // set renderNav to true
      document.querySelectorAll(".navElement").forEach((element) => {
        element.classList.add("hidden");
      });
    } else {
      // else set renderNav to false
      document.querySelectorAll(".navElement").forEach((element) => {
        element.classList.add("visible");
      });
    }
  });
</script> -->
