---
import Layout from "../layouts/Layout.astro";
import About from "../sections/About.astro";
import Contact from "../sections/Contact.astro";
import Nav from "../sections/Nav.astro";
import Portfolio from "../sections/Portfolio.astro";
import Skills from "../sections/Skills.astro";
import Hero from "../sections/Hero.astro";
---

<Layout title="Jesse Pernilä – Frontend Developer">
  <div class="flex w-full flex-col items-center">
    <Nav currentPath="/" />
  </div>
  <main class="flex w-full flex-col items-center">
    <div id="HOME"></div>
    <section class="flex min-h-halfScreen w-full max-w-9xl">
      <Hero />
    </section>
    <About />
    <Skills />
    <section id="PROJECTS" class="flex w-11/12 max-w-9xl flex-col py-8">
      <Portfolio />
    </section>
    <Contact />
  </main>
</Layout>
