---
import "../styles/main.css";
import Layout from "../layouts/Layout.astro";
import About from "../sections/About.astro";
import Contact from "../sections/Contact.astro";
import Nav from "../sections/Nav.astro";
import Portfolio from "../sections/Portfolio.astro";
import Skills from "../sections/Skills.astro";
import Hero from "../sections/Hero.astro";
---

<Layout title="Jesse Pernilä">
  <main class="flex flex-col items-center w-full">
    <Nav />
    <section class="flex w-full border-gray-400 min-h-halfScreen max-w-9xl">
      <Hero />
    </section>

    <About />
    <Skills />

    <section id="PROJECTS" class="flex flex-col w-11/12 max-w-9xl py-8">
      <Portfolio />
    </section>
    <Contact />
  </main>
</Layout>
