<div
  class="flex gap-6 w-11/12 relative border-brandMain border-3 p-6 items-center justify-center self-center flex-col md:flex-row"
>
  <div
    class="absolute w-fit h-2 left-4 -top-2 font-brandFont text-2xl bg-white p-2"
  >
    <div class="bg-superYellow relative -top-1 z-0 w-full h-4"></div>
    <h2 class="relative z-20 p-1 -top-10">Currently Building</h2>
  </div>
  <slot />
</div>
