---
import SubHBoxLeft from "./ui/SubHBoxLeft.astro";
---

<div class="mt-8 w-full"></div>
<div
  class="w-9/12 self-center max-xl:w-10/12 max-lg:w-11/12 min-h-56 bg-gradient-to-t from-violet-700 from-20% to-100% to-brandMain"
>
  <div
    class="flex m-0.75 relative p-6 pt-8 bg-white items-center justify-center self-center flex-col lg:flex-row"
  >
    <SubHBoxLeft>Currently Building</SubHBoxLeft>
    <slot />
  </div>
</div>
