---
const { frontmatter } = Astro.props;
const title = frontmatter.title.toUpperCase();
---

<article class="w-1/2 max-w-2xl order-2 max-lg:self-start max-lg:w-full">
  <h3 class="text-3xl">{title}</h3>
  <div class="flex flex-col gap-4 text-lg max-w-xl"><slot /></div>
  <div class="mt-4"></div>
  <div class="flex flex-wrap gap-x-4 gap-y-2 max-w-lg">
    {
      !!frontmatter.stack &&
        frontmatter.stack.map((item) => (
          <span class="text-sm text-gray-600">{item}</span>
        ))
    }
  </div>
</article>
<div
  class="w-1/2 h-56 max-lg:h-64 max-w-sm max-lg:w-full max-lg:mt-6 max-lg:self-start"
>
  <img class="absolute top-auto left-10 h-56 max-lg:top-14 max-lg:left-6" src={frontmatter.thumbnail} alt={frontmatter.title} />
</div>
