---
import clsx from "clsx";
type Props = {
  alignItems: "start" | "center";
};
const { alignItems = "center" } = Astro.props as Props;
---

<div
  class={clsx(
    "mb-8 flex w-11/12 max-w-6xl flex-col justify-between gap-8 self-center max-lg:w-full max-lg:items-start md:flex-row",
    {
      "items-start": alignItems === "start",
      "items-center": alignItems === "center",
    },
  )}
>
  <slot />
</div>
