<div class="relative w-fit text-zinc-900 order-first self-start">
  <h2 class="text-4xl self-start relative z-20 uppercase"><slot /></h2>
  <div class="bg-superYellow absolute bottom-0 z-0 w-full h-4"></div>
</div>
