---
import Duo from "../components/Duo.astro";
import SectionHeading from "../components/SectionHeading.astro";
---

<section id="ABOUT-JESSE" class="w-11/12 max-w-9xl pt-8 flex flex-col gap-8">
  <SectionHeading>About Jesse</SectionHeading>

  <Duo>
    <div
      class="w-1/2 max-w-2xl max-md:self-start max-lg:w-2/3 max-md:w-full max-md:order-2"
    >
      <h3 class="text-3xl mb-4">BIO</h3>
      <p class="text-lg mb-2 max-w-xl">
        I'm a passionate frontend developer, who enjoys bringing ideas to life
        through my work.
      </p>
      <p class="text-lg mb-2 max-w-xl">
        Web development makes the combination of creativity, problem-solving and
        collaboration into an exciting environment for me to work in.
      </p>
      <p class="text-lg mb-2 max-w-xl">
        The ever-growing capabilities of the web keeps me busy learning and
        developing. With an open mind, I'm ready to take on new challenges!
      </p>
    </div>
    <div
      class="relative border-brandMain border-2 aspect-square w-full max-lg:w-2/5 max-lg:self-end max-md:w-11/12 max-w-sm flex justify-center max-md:self-start"
    >
      <img
        src="/assets/images/jesse_portrait.webp"
        alt="portrait of jesse"
        class="z-10"
      />

      <div
        class="absolute -top-2 left-2 -z-0 bg-transparent border-brandMain border-2 w-full aspect-square"
      >
      </div>
    </div>
  </Duo>
  <div class="self-center w-11/12 max-lg:w-full max-w-6xl -mt-8">
    <h3 class="text-3xl mb-4">EXPERIENCE</h3>
    <div
      class="flex flex-row max-sm:flex-col max-sm:gap-2 gap-5 font-brandBread"
    >
      <span class="whitespace-nowrap text-base">2022—2023</span>
      <div class="mb-4 max-w-xl">
        <p class="text-lg">
          <span class="font-bold">Crasman · Developer</span>
          <br />
           Developer for e-commerce clients from websites to product information
          management environments
        </p>
        <div class="flex flex-wrap gap-x-4 gap-y-2 max-w-lg mt-4">
          <span class="text-sm text-gray-600">JavaScript</span>
          <span class="text-sm text-gray-600">HTML</span>
          <span class="text-sm text-gray-600">mustache.js</span>
          <span class="text-sm text-gray-600">SCSS</span>
          <span class="text-sm text-gray-600">SQL</span>
          <span class="text-sm text-gray-600">Miro</span>
          <span class="text-sm text-gray-600">Kanban</span>
          <span class="text-sm text-gray-600">REST</span>
          <span class="text-sm text-gray-600">Prince XML</span>
        </div>
      </div>
    </div>
    <div class="mt-4"></div>
    <div
      class="flex flex-row max-sm:flex-col max-sm:gap-2 gap-5 font-brandBread"
    >
      <span class="whitespace-nowrap text-base">2016—2020</span>
      <div class="mb-4 max-w-xl">
        <p class="text-lg">
          <span class="font-bold">Frantic · Junior Developer</span>
          <br />
           Development and maintenance for an international client and
          Salesforce Marketing Cloud development
        </p>
        <div class="flex flex-wrap gap-x-4 gap-y-2 max-w-lg mt-4">
          <span class="text-sm text-gray-600">JavaScript</span>
          <span class="text-sm text-gray-600">HTML</span>
          <span class="text-sm text-gray-600">CSS</span>
          <span class="text-sm text-gray-600">FreeMarker</span>
          <span class="text-sm text-gray-600">Salesforce Marketing Cloud</span>
          <span class="text-sm text-gray-600">AMPScript</span>
          <span class="text-sm text-gray-600">Excel</span>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-8"></div>
</section>
