---
---

<section id="ABOUT-JESSE" class="flex flex-col items-center justify-center w-full min-h-halfScreen py-3">
  <div class="flex w-5/6 gap-4 items-center justify-between flex-col md:flex-row">
    <div class="md:w-1/2">
      <h2 class="text-3xl">ABOUT JESSE</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Accusantium quaerat debitis in. Fuga deserunt et
        vitae. Obcaecati, saepe nesciunt? Quas reprehenderit officiis voluptatem
        voluptatum cupiditate labore neque accusamus maiores commodi?
      </p>
      <div class="w-full h-1 mt-2" />
      <h3 class="text-3xl">EXPERIENCE</h3>
      <p>
        <ul class="">
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
          <li>
            Accusantium quaerat debitis in. Fuga deserunt et vitae. Obcaecati,
            saepe nesciunt.
          </li>
        </ul>
      </p>
    </div>
    <div class="flex justify-center w-80">
      <div class="w-80 h-80 bg-blue-700 absolute z-10 rounded-full opacity-70" />
      <img src="https://place-puppy.com/500x500" class="grayscale rounded-full border-2 border-black" />
    </div>
  </div>
</section>
