---
import Duo from "../components/Duo.astro";
import SectionHeading from "../components/SectionHeading.astro";
const contactEmailAddress = "connect.jessep@gmail.com";
---

<section
  id="CONNECT"
  class="flex flex-col items-center w-11/12 max-w-9xl relative gap-4 md:mt-4"
>
  <div class="flex flex-col items-center bg-white pt-4 pb-10 m-0.75">
    <h3 class="text-3xl mb-2">Connect</h3>
    <p class="text-lg">To get in touch, you can contact me at this email 😊</p>
    <div
      id="CONTACT-EMAIL"
      class="flex items-center relative gap-3 w-fit h-14 py-2 px-4 -ml-4"
    >
      <span class="text-lg text-brandMain"> {contactEmailAddress}</span>
      <button class="absolute -right-3" id="COPY-EMAIL"
        ><img
          class="w-6 h-fit"
          src="/assets/icons/copy-to-clipboard.svg"
        /></button
      >
    </div>
    <div class="mt-4"></div>
    <a
      class="h-fit w-fit py-1 px-8 max-sm:px-4 font-brandFont text-brandMain border-brandMain border-2 text-2xl font-medium animate-bgSildeLeft hover:animate-bgSildeRight bg-no-repeat bg-x--10rem bg-gradient-to-r from-brandMain from-100% to-white to-200%"
      href=`mailto:${contactEmailAddress}`>Say Hello!</a
    >
  </div>
</section>

<script define:vars={{ contactEmailAddress }}>
  const copyEmail = document.getElementById("COPY-EMAIL");
  const email = document.getElementById("CONTACT-EMAIL");

  copyEmail.addEventListener("click", () => {
    navigator.clipboard.writeText(contactEmailAddress);
    email.classList.add("animate-copied");
    setTimeout(() => {
      email.classList.remove("animate-copied");
    }, 1600);
  });
</script>
