---
---

<section id="CONTACT" class="flex flex-col items-center w-full py-10">
  <div class="flex w-5/6 gap-4 items-center justify-center flex-col md:flex-row">
    <div class="flex flex-col md:w-1/2">
      <h2 class="text-3xl">CONTACT</h2>
      <div id="CONTACT-EMAIL" class="w-fit py-2 px-4 -ml-4">
        connect.jessep@gmail.com
      </div>
    </div>
    <div class="flex justify-center w-80 max-sm:w-fit">
      <img class="rounded-full" src="https://placedog.net/500/500?r&id=204" />
    </div>
  </div>
</section>