---
import HeroArt from "../components/canvas/hero/HeroArt.jsx"
import SubHBox from "../components/ui/SubHBox.astro";
---

<div
  class="relative flex min-h-112 w-full items-center justify-start max-md:flex-col max-md:gap-2"
>
  <div class="min-h-halfScreen w-full">
    <HeroArt client:load />
  </div>
  <div
    class="absolute bottom-1/5 right-4 w-fit bg-gradient-to-t from-violet-700 from-20% to-brandMain to-100% max-md:relative max-md:bottom-0 max-md:right-0 max-md:w-11/12 xl:right-46"
  >
    <SubHBox side="right">Status: Open to work!</SubHBox>
    <div
      class="m-0.75 flex flex-col bg-white max-md:p-5 md:py-6 md:pl-5 md:pr-16"
    >
      <div class="max-xs:mt-4"></div>
      <span class="font-brandFont text-2xl">Hi! I'm</span>
      <h1 class="text-5xl max-md:text-3xl">
        JESSE PERNILÄ, <br /><span>A FRONTEND DEVELOPER.</span>
      </h1>
      <div class="mt-4"></div>
      <p class="w-96 text-lg max-md:w-fit">
        I'm enthusiastic about building for the web and creating awesome user
        experiences 🤩
      </p>
      <div class="mt-4"></div>
      <button
        class="bg-x--10rem w-fit animate-bgSlideLeftAlt border-2 border-brandMain bg-brandMain bg-gradient-to-r from-white from-100% to-200% bg-no-repeat px-8 py-1 font-brandFont text-3xl font-medium text-white hover:animate-bgSlideRightAlt"
        data-connect-button
      >
        Connect
      </button>
    </div>
  </div>

  <div class="mt-4"></div>
</div>

<script>
  const connectButton = document.querySelector("[data-connect-button]");

  const scrollToContact = () => {
    document.querySelector("#CONNECT").scrollIntoView({
      behavior: "smooth",
    });
    document.querySelector("#CONTACT-EMAIL").classList.add("animate-highlight");
    setTimeout(() => {
      document
        .querySelector("#CONTACT-EMAIL")
        .classList.remove("animate-highlight");
    }, 2400);
  };

  connectButton.addEventListener("click", scrollToContact);
</script>