---
---

<nav class="flex justify-center w-full h-28 pt-3 fixed bg-white z-10">
  <div class="w-5/6 flex justify-between items-center max-sm:w-full max-sm:justify-start">
    <img src="https://place-puppy.com/80x100" />
    <ul class="flex w-full justify-evenly list-none gap-4 font-brandFont text-3xl">
      <li><button>HOME</button></li>
      <li><button>PORTFOLIO</button></li>
      <li><button>ABOUT JESSE</button></li>
      <li><button>CONTACT</button></li>
    </ul>
  </div>
</nav>
