---
const sections = ["HOME", "WORKS", "ABOUT JESSE", "CONNECT"];
---

<div class="h-28 max-sm:h-0"></div>
<nav
  class="flex justify-center w-full h-24 max-w-9xl fixed max-sm:relative bg-white border-gray-400 z-50"
>
  <div
    class="w-5/6 flex justify-between items-center max-sm:w-full max-sm:justify-evenly"
  >
    <span class="max-sm:flex justify-evenly gap-4 font-brandFont text-3xl">
      jessep.fi
    </span>
    <div
      id="nav-links"
      class="flex w-full justify-evenly gap-4 font-brandFont text-3xl max-sm:hidden"
    >
      {
        sections.map((section) => (
          <button class="px-2 pb-1 underline text-link hover:text-blue-500 animate-bgSlideBottom hover:animate-bgSlideTop bg-no-repeat bg-y-3rem bg-gradient-to-t from-brandMain from-100% to-white to-200%">
            {section}
          </button>
        ))
      }
    </div>
  </div>
</nav>

<script define:vars={{ sections }}>
  const nav = document.querySelector("#nav-links");
  const navLinks = document.querySelectorAll("#nav-links>button");

  nav.addEventListener("click", (event) => {
    const clicked = event.target.innerText;
    navLinks.forEach((link) => link.classList.remove("text-visited"));
    event.target.classList.add("text-visited");

    if (sections.includes(clicked)) {
      const section = document.querySelector(`#${clicked.replace(" ", "-")}`);
      section.scrollIntoView({ behavior: "smooth", block: "center" });
    }
  });
</script>
