---
import MobileNavModal from "../components/MobileNavModal.astro";
const sections = ["HOME", "WORKS", "ABOUT JESSE", "CONNECT"];
---

<div id="HOME" class="h-28"></div>
<nav
  class="flex justify-between max-sm:justify-center items-center w-full 2xl:w-11/12 h-24 max-sm:h-18 max-w-9xl fixed bg-white z-50"
>
  <div
    class="flex justify-between items-center w-11/12 max-xl:w-full max-sm:w-11/12"
  >
    <div class="font-brandFont text-3xl sm:ml-12 2xl:m-0 max-sm:w-1/2">
      <img alt="logo" src="/logo_spin.gif" class="w-8 inline-block" />
      jessep.fi
    </div>
    <div
      class="w-3/6 min-w-fit mr-12 flex justify-between items-center max-sm:hidden"
    >
      <div
        id="nav-links"
        class="flex w-full gap-4 justify-between relative -right-2"
      >
        {
          sections.map((section) => (
            <button class="px-2 pb-1 min-w-fit font-brandFont text-3xl underline text-link hover:text-blue-500 animate-bgSlideBottom hover:animate-bgSlideTop bg-no-repeat bg-y-3rem bg-gradient-to-t from-brandMain from-100% to-white to-200%">
              {section}
            </button>
          ))
        }
      </div>
    </div>

    <div class="w-fit hidden max-sm:block">
      <MobileNavModal sections={sections}>
        {
          sections.map((section) => (
            <button class="px-2 pb-1 min-w-fit font-brandFont text-5xl underline text-link hover:text-blue-500 animate-bgSlideBottom hover:animate-bgSlideTop bg-no-repeat bg-y-3rem bg-gradient-to-t from-brandMain from-100% to-white to-200%">
              {section}
            </button>
          ))
        }
      </MobileNavModal>
    </div>
  </div>
</nav>
<div
  id="nav-border"
  class="h-0.75 bg-brandMain w-screen fixed top-24 max-sm:top-18 left-0 z-50 origin-left transition-transform duration-300 scale-x-100"
>
</div>

<script define:vars={{ sections }}>
  const navBorder = document.getElementById("nav-border");
  const nav = document.querySelector("#nav-links");

  nav.addEventListener("click", (event) => {
    const clicked = event.target.innerText;
    if (sections.includes(clicked)) {
      const section = document.querySelector(`#${clicked.replace(" ", "-")}`);
      section.scrollIntoView({ behavior: "smooth", block: "start" });
    }
  });

  const addBorderOnScrollDown = () => {
    if (window.scrollY > Math.max(448, window.innerHeight / 2)) {
      navBorder.classList.remove("scale-x-0");
      navBorder.classList.add("scale-x-100");
    } else {
      navBorder.classList.remove("scale-x-100");
      navBorder.classList.add("scale-x-0");
    }
  };

  window.addEventListener("scroll", addBorderOnScrollDown);

  addBorderOnScrollDown();
</script>
