---
const sections = ["HOME", "WORKS", "ABOUT JESSE", "CONTACT"];
---

<div class="h-28 max-sm:h-0"></div>
<nav
  class="flex justify-center w-full h-24 fixed max-sm:relative bg-white border-b-0.5 border-gray-400 z-20"
>
  <div
    class="w-5/6 flex justify-between items-center max-sm:w-full max-sm:justify-evenly"
  >
    <img class="h-1/2 rounded-full" src="/matcap_256.png" />
    <div
      class="flex w-full justify-evenly gap-4 font-brandFont text-3xl max-sm:hidden"
    >
      {
        sections.map((section) => (
          <button class="underline text-link hover:text-blue-500">
            {section}
          </button>
        ))
      }
    </div>
    <div
      class="hidden max-sm:flex justify-evenly gap-4 font-brandFont text-3xl"
    >
      jessep.fi
    </div>
  </div>
</nav>

<script define:vars={{ sections }}>
  const nav = document.querySelector("nav>div>div");
  const navLinks = document.querySelectorAll("nav>div>div>button");

  nav.addEventListener("click", (event) => {
    const clicked = event.target.innerText;
    navLinks.forEach((link) => link.classList.remove("text-visited"));
    event.target.classList.add("text-visited");

    if (sections.includes(clicked)) {
      const section = document.querySelector(`#${clicked.replace(" ", "-")}`);
      section.scrollIntoView({ behavior: "smooth", block: "center" });
    }
  });
</script>
