---
import Duo from "../components/Duo.astro";
import CustomBorderContainer from "../components/CustomBorderContainer.astro";
import SectionHeading from "../components/SectionHeading.astro";
const posts = await Astro.glob("../portfolio-article/*.md");

// const colors = ["teal-200", "emerald-400", "yellow-200"];
---

<SectionHeading>Recent Projects</SectionHeading>

<div class="mt-4 md:mt-8 w-full"></div>
{
  posts
    .sort((a, b) => a.frontmatter.order - b.frontmatter.order)
    .map((post, index) => {
      if (!!post.frontmatter.currentlyBuilding) {
        return (
          <CustomBorderContainer subheading="Currently Building">
            <post.Content />
          </CustomBorderContainer>
        );
      } else {
        return (
          <Duo>
            <post.Content />
          </Duo>
        );
      }
    })
}
