---
import CustomBorderContainer from "../components/CustomBorderContainer.astro";

type Skill = {
  name: string;
  icon: string;
  invert?: boolean;
};

const skills: Skill[] = [
  { name: "HTML", icon: "./assets/skills/html.svg", invert: false },
  { name: "CSS", icon: "./assets/skills/css.svg", invert: false },
  { name: "JavaScript", icon: "./assets/skills/javascript.svg", invert: false },
  { name: "React", icon: "./assets/skills/react.svg", invert: false },
  { name: "TypeScript", icon: "./assets/skills/typescript.svg", invert: false },
  { name: "Next.js", icon: "./assets/skills/nextjs.svg", invert: false },
  { name: "Three.js", icon: "./assets/skills/threejs.svg", invert: false },
  { name: "Blender", icon: "./assets/skills/blender.svg", invert: false },
  { name: "Figma", icon: "./assets/skills/figma.svg", invert: false },
  { name: "Astro", icon: "./assets/skills/astro.svg", invert: false },
  {
    name: "Tailwind CSS",
    icon: "./assets/skills/tailwindcss.svg",
    invert: false,
  },
  { name: "SQL", icon: "./assets/skills/sql.svg", invert: false },
];
---

<section
  class="relative flex w-11/12 max-w-9xl flex-col items-center gap-4 text-zinc-200 md:mt-4"
>
  <CustomBorderContainer subheading="Things I Know">
    <div
      class="mt-4 flex w-5/6 max-w-6xl flex-row flex-wrap justify-center gap-6"
    >
      {
        skills.map((skill) => (
          <div class="flex w-28 flex-col items-center gap-2 text-center max-sm:w-20">
            <div class="h-10 overflow-clip max-sm:h-10">
              <img
                class:list={["h-full", { invert: skill.invert }]}
                src={skill.icon}
                role="presentation"
                alt=""
              />
            </div>
            <span class="text-lg text-black">{skill.name}</span>
          </div>
        ))
      }
    </div>
  </CustomBorderContainer>
</section>
<div class="mt-16"></div>
