---
import { ViewTransitions } from "astro:transitions";
import "../styles/main.css";
import Nav from "../sections/Nav.astro";
import type { MarkdownLayoutProps } from "astro";

type Props = MarkdownLayoutProps<{
  // Define frontmatter props here
  title: string;
  author: string;
  date: string;
}>;

const { frontmatter, url } = Astro.props;
console.log(frontmatter, url);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{frontmatter.title}</title>
    <ViewTransitions />
  </head>
  <body>
    <div class="flex w-full flex-col items-center">
      <Nav transition:persist currentPath={url} />
    </div>
    <main
      class="prose prose-headings:font-brandFont"
      transition:animate="slide"
    >
      <slot />
    </main>
    <footer>
      <p>
        <a href="/">Home</a>
      </p>
    </footer>
    <style>
      body {
        margin: 0;
        font-family: "Inter", sans-serif;
      }

      h1,
      h2,
      h3,
      h4 {
        font-family: "VT323", monospace;
      }
    </style>
  </body>
</html>
