---
export interface Props {
  title: string;
}

const githubIcon = await import("/assets/icons/github.svg?raw");
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Jesse Pernilä - Front-end Developer Portfolio. Exploring web development with creativity and a passion for user experiences."
    />
    <title>{title}</title>
  </head>
  <body
    class="preload flex flex-col justify-center text-zinc-900 text-xl leading-tight font-vt323 w-full"
  >
    <slot />
    <footer
      class="flex gap-6 justify-center items-center text-base w-full h-32"
    >
      <div>
        <p>
          Built with <a
            class="text-brandMain hover:underline"
            href="https://astro.build/"
            target="_blank">Astro</a
          > and <a
            class="text-brandMain hover:underline"
            href="https://tailwindcss.com/"
            target="_blank">Tailwind CSS</a
          >, deployed with <a
            class="text-brandMain hover:underline"
            href="https://vercel.com/"
            target="_blank">Vercel</a
          >
        </p>
      </div>
      <div>|</div>
      <div class="flex gap-1 items-center">
        <svg
          viewBox="0 0 24 24"
          class="w-5 h-full stroke-none fill-inherit mr-1"
          set:html={`
    <title>GitHub</title>
    ${githubIcon.default}
    `}
        /> jessejp /<a
          class="text-brandMain hover:underline"
          href="https://github.com/jessejp/portfolio"
          target="_blank">portfolio</a
        >
      </div>
    </footer>
  </body>
</html>

<style is:global>
  canvas {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  body {
    margin: 0;
    font-family: "Inter", sans-serif;
  }

  body.preload * {
    animation-duration: 0s !important;
    -webkit-animation-duration: 0s !important;
    transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s,
      padding 0s, margin 0s !important;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: "VT323", monospace;
  }
</style>

<script>
  setTimeout(function () {
    document.body.className = "";
  }, 500);
</script>
