<div
  class="absolute w-fit h-2 right-6 max-xxs:right-1 -top-1 bg-white pl-1 pr-2"
>
  <div
    class="relative z-20 py-2 px-6 -top-7 bg-inherit shadow-hard-right shadow-brandMain text-brandMain font-brandFont text-2xl border-brandMain border-3 whitespace-nowrap"
  >
    <slot />
  </div>
</div>
