<div class="absolute w-fit h-2 left-6 max-xxs:left-1 -top-1 bg-white pl-2 pr-1">
  <h3
    class="relative z-20 py-2 px-6 -top-7 shadow-hard-left bg-inherit shadow-brandMain text-brandMain font-brandFont text-2xl border-brandMain border-3 whitespace-nowrap capitalize"
  >
    <slot />
  </h3>
</div>
